.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #383869;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #525281;
    color: white;
    border-left: 6px solid #fbfbfb;
}

.sidebar a:hover:not(.active) {
    background-color: #525281;
    color: white;
    border-left: 6px solid #fbfbfb;
}

.sidebar a{
    padding-left: 30px;
    color: #fff;
}

.sidebar a>i{
    margin-right: 15px;
}

.logo{
    height: 145px;
    padding-top: 20px;
}

.logo img{
    height: 100px;
    margin: auto;
    display: block;
}
.logo:hover{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}